<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>축제정보</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div th:replace="fragments/header.html :: fragment-header"></div>

    <div class="container">
        <div><h1><span id="month2"></span>월 축제 & 행사</h1></div>

        <div>
            <select id='month'>
                <option value=''>--달을 선택해 주세요--</option>
                <option value='1'>1월</option>
                <option value='2'>2월</option>
                <option value='3'>3월</option>
                <option value='4'>4월</option>
                <option value='5'>5월</option>
                <option value='6'>6월</option>
                <option value='7'>7월</option>
                <option value='8'>8월</option>
                <option value='9'>9월</option>
                <option value='10'>10월</option>
                <option value='11'>11월</option>
                <option value='12'>12월</option>
            </select>
        </div>

        <div>지역 리스트</div>
        <ul>
            <li>전체</li>
            <li>서울</li>
            <li>경기</li>
            <li>인천</li>
            <li>강원</li>
            <li>세종</li>
            <li>대전</li>
            <li>충북</li>
            <li>충남</li>
            <li>대구</li>
            <li>부산</li>
            <li>울산</li>
            <li>경북</li>
            <li>경남</li>
            <li>광주</li>
            <li>전북</li>
            <li>전남</li>
            <li>제주</li>
        </ul>
    </div>

    <div th:replace="fragments/footer.html :: fragment-footer"></div>

    <script type="text/javascript">

        // title, option 현재 달 선택
        $(document).ready(function () {
            let today = new Date();
            let month = today.getMonth() + 1;
            $('#month').val(month).attr("selected", "selected");
            $('#month2').text(month);
        });

        // 초기 데이터 불러온거 표시

        // 사용자가 달 변경시 표시 변경 & 데이터 변경
        $('#month').change(function(){
            var month = $(this).val();
            $('#month2').text(month);
            // 해당 월에 맞는 데이터 불러오는 로직 (ajax 해야할듯)
        });
    </script>
</body>
</html>