<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>축제정보</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style type="text/css">
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    #title {
        text-align: right;
        font-family: yg-jalnan;
    }
    #month {
        text-align: center;
    }
    .localList {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        font-family: yg-jalnan;
    }
    .localBtn {
        border: none;
        background: transparent;
        height: 100%;
        font-family: yg-jalnan;
        font-size : 17px;
    }
    .localList li.selected{
        transition-duration: 0.5s;
        background: #F63543;
    }
    .localList li.selected button {
        color: white;
    }
</style>
<body>
    <div th:replace="fragments/header.html :: fragment-header"></div>

    <div class="container">
        <div class="row" id="title">
            <div class="col-7">
                <h1><span id="month2"></span>월 축제 & 행사</h1>
            </div>

            <div class="col-4">
                <select id='month'>
                    <option class="" value=''>-달을 선택해 주세요-</option>
                    <option class="" value='1'>1월</option>
                    <option class="" value='2'>2월</option>
                    <option class="" value='3'>3월</option>
                    <option class="" value='4'>4월</option>
                    <option class="" value='5'>5월</option>
                    <option class="" value='6'>6월</option>
                    <option class="" value='7'>7월</option>
                    <option class="" value='8'>8월</option>
                    <option class="" value='9'>9월</option>
                    <option class="" value='10'>10월</option>
                    <option class="" value='11'>11월</option>
                    <option class="" value='12'>12월</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
<!--            <div>지역 리스트</div>-->
                <ul class="localList">
                    <li class="selected" value="0"><button class="localBtn">전체</button></li>
                    <li class="" value="1"><button class="localBtn">서울</button></li>
                    <li class="" value="2"><button class="localBtn">경기</button></li>
                    <li class="" value="3"><button class="localBtn">인천</button></li>
                    <li class="" value="4"><button class="localBtn">강원</button></li>
                    <li class="" value="5"><button class="localBtn">세종</button></li>
                    <li class="" value="6"><button class="localBtn">충북</button></li>
                    <li class="" value="7"><button class="localBtn">충남</button></li>
                    <li class="" value="8"><button class="localBtn">대구</button></li>
                    <li class="" value="9"><button class="localBtn">부산</button></li>
                    <li class="" value="10"><button class="localBtn">울산</button></li>
                    <li class="" value="11"><button class="localBtn">경북</button></li>
                    <li class="" value="12"><button class="localBtn">경남</button></li>
                    <li class="" value="13"><button class="localBtn">광주</button></li>
                    <li class="" value="14"><button class="localBtn">전북</button></li>
                    <li class="" value="15"><button class="localBtn">전남</button></li>
                    <li class="" value="16"><button class="localBtn">제주</button></li>
                </ul>
            </div>
            <div class="col-10">

            </div>
        </div>
    </div>

    <div th:replace="fragments/footer.html :: fragment-footer"></div>

    <script type="text/javascript">

        // title, option 현재 달 선택
        $(document).ready(function () {
            let today = new Date();
            let month = today.getMonth() + 1;
            $('#month option:eq(' + month +')').attr("selected", "selected");
            $('#month2').text(month);
        });

        // 초기 데이터 불러온거 표시

        // 사용자가 달 변경시 표시 변경 & 데이터 변경
        $('#month').change(function(){
            var change_month = $(this).val();
            $("#month option").removeAttr("selected", "selected");
            $('#month option:eq(' + change_month +')').attr("selected", "selected");
            $('#month2').text(change_month);
            // 해당 월에 맞는 데이터 불러오는 로직 (ajax 해야할듯)
            $.ajax({
                url : "festival/changeMonth",
                data : {month : change_month},
                type : 'post',
                success : function(data){
                    console.log("success");
                }
            });
        });

        // 지역 선택시
        $(".localList li").on("click", function(){
            // 클릭하는 요소의 index 번호를 가져옴
            const num = $(".localList li").index($(this));
            // 기존에 적용되어 있는 selected class 삭제
            $(".localList li").removeClass("selected");
            // 클릭한 요소에 selected class 추가
            $('.localList li:eq(' + num + ')').addClass("selected");
        });
    </script>
</body>
</html>