
.swal-button {


    padding: 7px 19px;
    border-radius: 2px;
    background-color: #F63543;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);


}


.signup-title {
    margin-bottom: 30px;
}
#signup-page-title {
    font-size: 20px;
}

.signup-logo a {
    font-family: 'jalnan';
    font-size: 28px;
    text-decoration: none;
    color: #F63543;
}

.signup-logo {
    margin-bottom: 20px;
}

.signupPage {
    border: 1px solid lightgray;
    max-width: 450px;
    padding: 50px 0 50px 0;
    max-height: 500px;
    display: inline-block;

}



#signupForm {
    margin-top: 3%;
    height: 100%;
    min-width: 410px;
    display: inline-block;
}

#password,
#passwordCheck,
#email,
#tel {
    font-family: 'Pretendard';
    margin: 0 0 20px 0;
    padding: 10px;
    width: 350px;
    height: 37px;
    border: 1px solid gray;
    border-radius: 5px;

}

#id {
    font-family: 'Pretendard';
    margin: 0 0 20px 0;
    padding: 10px;
    width: 250px;
    height: 37px;
    border: 1px solid gray;
    border-radius: 5px;
}


#idCheck {
    font-family: 'Pretendard';
    display: inline;
    width: 95px;
    height: 37px;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    background-color: #F63543;
    font-size: 1.0em;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4),
        inset -1px -1px 1px rgba(0, 0, 0, .2);
}

#btSignup {
    font-family: 'Pretendard';
    width: 350px;
    height: 37px;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    background-color: #F63543;
    font-size: 1.0em;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4),
        inset -1px -1px 1px rgba(0, 0, 0, .2);
}


#btSignup:active,
#idCheck:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .4),
        inset 2px 2px 3px rgba(0, 0, 0, .2);
}

#btSignup:hover,
#idCheck:hover {
    background-color: #f74450;
}