@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.signupTitle a {
    font-family: 'jalnan';
    font-size: 28px;
    text-decoration: none;
    color: #F63543;
}

.signupTitle {
    margin-bottom: 20px;
}

.signupPage {
    border: 1px solid lightgray;
    max-width: 600px;
    padding: 50px;
    max-height: 500px;
    display: inline-block;

}



#signupForm {
    margin-top: 3%;
    height: 100%;
    min-width: 410px;
    display: inline-block;
}

#password,
#passwordCheck,
#email,
#tel {
    margin: 0 0 20px 0;
    padding: 7px;
    width: 400px;
    height: 37px;
    border: 1px solid gray;
    border-radius: 5px;

}

#userId {
    margin: 0 0 20px 0;
    padding: 7px;
    width: 300px;
    height: 37px;
    border: 1px solid gray;
    border-radius: 5px;
}


#idCheck {
    display: inline;
    width: 95px;
    height: 37px;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    background-color: #F63543;
    font-size: 1.0em;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4),
        inset -1px -1px 1px rgba(0, 0, 0, .2);
}

#btSignup {
    width: 400px;
    height: 37px;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    background-color: #F63543;
    font-size: 1.0em;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4),
        inset -1px -1px 1px rgba(0, 0, 0, .2);
}


#btSignup:active,
#idCheck:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .4),
        inset 2px 2px 3px rgba(0, 0, 0, .2);
}

#btSignup:hover,
#idCheck:hover {
    background-color: #f74450;
}