<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thyeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>게시판</title>
  <script> location.hash = (location.hash) ? location.hash : " "; </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="module" th:src="@{/js/board/reply-transfer.js}"></script>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container">
  <div class="tabmenu-wrapper mt-5" th:object="${board}">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column fs-5">
          <div class="row"
               style="padding: 10px 0px; border-top: 2px solid black; display: inline-block; ">
            <div class="col d-flex">
              <span th:text="${board.title}" style="font-size: x-large; font-weight: bold;"></span>&nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col" th:with="userId = ${board.userId}">
              <span th:text="${board.userId}"></span>
              <span th:text="${board.time}"></span>
              <div class="col" style="text-align: right">
                <span th:text="|조회 ${board.view}|"></span>
              </div>
            </div>
          </div>
          <hr>
          <div th:if="${#authentication.getPrincipal()!='anonymousUser'}">
            <div class="d-flex justify-content-end mt-2" th:if="${#authentication.getPrincipal().getUsername()} == ${board.userId}">
              <a class="text-decoration-none text-muted"
                 th:href=@{/board/rewrite/(idx=${board.idx})}>수정</a>
              <span class="text-muted mx-3">|</span>
              <a class="text-decoration-none text-muted" href='javascript:void(0);' onclick="deleteAlert()">삭제</a>
            </div>
          </div>

          <div class="w-100 py-4" th:utext="${board.content}"
               style="padding: 10px; word-wrap:break-word;"></div>
          <div style="text-align: center; margin-top: 20px;">
            <input type="button" id="recommend" style="width: 80px;height: 80px; font-size: x-large"
                   th:onclick="|location.href='@{/board/details/boardRecommend(idx=${board.idx})}'|" th:value="|👍&#10;${board.recommend}추|"/>
          </div>
          <div style="padding: 10px 0px; border-bottom: 2px solid black;">
            <button
                    onclick="location.href = '/board/list/main'"
                    style="float: right; background-color: #0059AB;
                    border: 1px solid lightgrey; color: white; font-size: 14pt;
                    padding: 5px; width: 100px">
              목록으로
            </button>
          </div>

          <!--          댓글 시작 -->
          <div th:each="replyDto : ${replyList}" th:object="${replyDto}">
            <div class="d-flex flex-column">
              <div class="d-flex" th:with="rAuthor=*{reply.rAuthor}">
                <div class="fw-bold fs-5" th:text="*{reply.rAuthor}"></div>
                <div class="d-flex flex-column justify-content-center text-muted"
                     style="font-size: 12px;" th:text="| (*{reply.rDate})|"></div>
              </div>
              <div>
                <div th:utext="*{reply.rContent}" style="word-wrap:break-word;"></div>
              </div>
              <div class="d-flex justify-content-end" style="border-bottom: #6c757d dashed 1px;">
                <a class="text-decoration-none text-muted" href='javascript:void(0);'
                   onclick="replyWriteToggle(event)"
                   sec:authorize="isAuthenticated()">[답글]</a>
              </div>
              <!-- 대댓글 -->
              <div class="reply-write-area"
                   style="padding: 10px 0px; border-bottom:#6c757d dashed 1px; ">
                <em class="bi bi-arrow-return-right">&nbsp;[[*{reply.rAuthor}]]님에게 답글 남기기</em>
                <textarea class="form-control" id="FormControlTextarea" rows="2"></textarea>
                <div class="d-flex justify-content-end">
                  <input id="rRid" th:value="*{reply.rid}" type="hidden">
                  <input id="rBid" th:value="*{reply.rBid}" type="hidden">
                  <a class="text-decoration-none text-muted"
                     href='javascript:void(0);' onclick="replyTransfer(event)">[확인]</a>
                </div>
              </div>
            </div>
            <div th:each="reply:${replyDto.rReplyList}" th:object="${replyDto.rReplyList}">
              <div class="d-flex">
                <div class="d-flex flex-column justify-content-center me-2">
                  <em class="bi bi-arrow-return-right"></em>
                </div>
                <div class="d-flex" th:with="rAuthor=${reply.rAuthor}">
                  <div class="fw-bold fs-5" th:text="${reply.rAuthor}"></div>
                  <div class="d-flex flex-column justify-content-center text-muted"
                       style="font-size: 12px;" th:text="|(${reply.rDate})|"></div>
                </div>
              </div>
              <div class="d-flex" style="border-bottom: #6c757d dashed 1px">
                <em class="bi bi-arrow-return-right invisible me-2"></em>
                <div style="word-wrap:break-word; word-break: break-all;"
                     th:utext="${reply.rContent}"></div>
              </div>
            </div>
          </div>
          <div class="input-group row m-0" style="padding: 10px 0px;">
            <textarea class="form-control col-10 px-3" id="FormControlTextarea" rows="2"></textarea>
            <div class="col-2 p-0">
              <input id="rRid" th:value="0" type="hidden">
              <input id="rBid" th:value="${idx}" type="hidden">
              <button class="btn w-100 h-100" onclick="replyTransfer(event)"
                      style="background-color: rgba(100,100,100,0.3);">확인
              </button>
            </div>
          </div>



          <div th:replace="fragments/footer.html :: fragment-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">

  $().ready(function () {
    $(".reply-write-area").hide();
  })

  function replyWriteToggle(evt) {
    let btn = evt.target;
    $(btn).hide()
    $(btn).parent().next().slideToggle();
  }


  function deleteAlert() {
    /*<![CDATA[*/
    let idx = [[ ${board.idx} ]];
    /*]]*/

  Swal.fire({
    title: '삭제 하시겠습니까?',
    text: "되돌리실 수 없습니다!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: '그래도 삭제하겠습니다',
    cancelButtonText: '삭제 취소',
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire(
          '해당 글이 삭제되었습니다'
    ).then((result) => {
      let params = {idx:idx}
      $.ajax({
        url: "/board/delete",
        type: 'post',
        datatype: 'JSON',
        data: JSON.stringify(params),
        contentType: 'application/json',
        success: function (result) {
          window.location.href = "/board/list/main";
        }
      });
      });
    }
  })
}

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>