<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Board</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<br>
<!-- 베스트 후기 영역 -->
<section class="container" style="height:600px;">
  <div>
    <span class="indextitle"> 전체 베스트 후기 </span>
  </div>
  <div class="bestBoardTop3">
    <div th:each="bestList : ${bestBoardList}" th:onclick="|location.href='@{/board/details/boardView(idx=${bestList.idx})}'|">
      <div id="bestBoardImage"><img th:src="${bestList.content}"/></div>
      <div class="bestBoardTitle" th:text="${bestList.title}"></div>
      <div class="bestBoardDate" th:text="${bestList.time.substring(0,10)}"></div>
    </div>
  </div>
</section>

<div class="region" style="float: left; padding-left: 20px; padding-right:20px ">
<ul class="list-group list-group-horizontal">
  <a href="/board/list/main"><li class="list-group-item">전체</li></a>
  <a href="/board/list/대구"><li class="list-group-item">대구</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/서울"><li class="list-group-item">서울</li></a>
  <a href="/board/list/부산"><li class="list-group-item">부산</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/경기"><li class="list-group-item">경기</li></a>
  <a href="/board/list/울산"><li class="list-group-item">울산</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/인천"><li class="list-group-item">인천</li></a>
  <a href="/board/list/경북"><li class="list-group-item">경북</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/강원"><li class="list-group-item">강원</li></a>
  <a href="/board/list/경남"><li class="list-group-item">경남</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/세종"><li class="list-group-item">세종</li></a>
  <a href="/board/list/광주"><li class="list-group-item">광주</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/대전"><li class="list-group-item">대전</li></a>
  <a href="/board/list/전북"><li class="list-group-item">전북</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/충북"><li class="list-group-item">충북</li></a>
  <a href="/board/list/전남"><li class="list-group-item">전남</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="/board/list/충남"><li class="list-group-item">충남</li></a>
  <a href="/board/list/제주"><li class="list-group-item">제주</li></a>
</ul>
</div>
<div class="table-responsive" style="padding-left: 20px">
  <table class="table table-hover" style="text-align: center">
    <thead>
    <tr class="text-center">
      <th>No</th>
      <th>지역</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>작성시간</th>
      <th>조회수</th>
      <th>추천수</th>
    </tr>
    </thead>
    <tbody class="table-content" th:each="board : ${boardList}">
    <tr class="text-center">
      <td th:text="${board.idx}"></td>
      <td th:text="${board.category}" style="margin-left: 100px"></td>
      <td class="text-start ps-5">
        <div class="d-flex align-content-center flex-wrap"
             style="height: 30px; font-size: 20px; padding-left: 100px" th:with="idx=${board.idx}">
          <a class="board-title" th:text="${board.title}"
             th:href=@{/board/details/boardView(idx=${board.idx})}></a>&nbsp;
        </div>
      </td>
      <td style="font-size: 17px" th:with="userId = ${board.userId}">
        <span th:text="${board.userId}"></span>
      </td>
      <td style="font-size: 17px"
          th:if="${board.time.substring(0,10)} == ${Today.today}"
          th:text="${board.time.substring(10,16)}"
      ></td>
      <td style="font-size: 17px"
          th:if="${board.time.substring(0,10)} != ${Today.today}"
          th:text="${board.time.substring(0,10)}"
      ></td>
      <td style="font-size: 17px;" th:text="${board.view}"></td>
      <td style="font-size: 17px;" th:text="${board.recommend}"></td>
    </tr>
    </tbody>

  </table>
</div>
<button class="btn btn-primary w-35 my-2 write-btn" style="float:right" onclick="location.href='/board/write'"> 후기 작성 </button>
<br>
  <div class="pagination">
    <ul>
      <li th:if="${nowPage != 1}">
        <a class="btn" th:href="@{/board/list/}+${checkParam}+'?page='+${nowPage-1}"><</a>
      </li>
      <li th:if="${endPage != 0}" th:each="page:${#numbers.sequence(startPage, endPage)}">
        <a class="btn" th:if="${page != nowPage}" th:href="@{/board/list/}+${checkParam}+'?page='+${page}" th:text="${page}"></a>
        <strong class="btn" th:if="${page == nowPage}" th:text="${page}"></strong>
      </li>
      <li th:if="${endPage == 0}" th:each="page:${#numbers.sequence(startPage, 1)}">
        <a class="btn" th:if="${page != nowPage}" th:href="@{/board/list/}+${checkParam}+'?page='+${page}" th:text="${page}"></a>
        <strong class="btn" th:if="${page == nowPage}" th:text="${page}"></strong>
      </li>
      <li th:if="${nowPage < totalPage}">
        <a class="btn" th:href="@{/board/list/}+${checkParam}+'?page='+${nowPage+1}">></a>
      </li>
    </ul>
  </div>
  </div>
</div>

<div style="clear: both"></div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>

</body>
</html>
