<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: fragment-head"></div>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Board</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>

<h2 class="title" style="text-align: center">TOP 3 후기</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/1jPF/image/1sfH1iuBL1-CxyxwRYcKrQ2b3v8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/1jPF/image/1sfH1iuBL1-CxyxwRYcKrQ2b3v8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/1jPF/image/1sfH1iuBL1-CxyxwRYcKrQ2b3v8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<br>
<div class="region" style="float: left">
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">전체</li></a>
  <a href="#"><li class="list-group-item">대구</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">서울</li></a>
  <a href="#"><li class="list-group-item">부산</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">경기</li></a>
  <a href="#"><li class="list-group-item">울산</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">인천</li></a>
  <a href="#"><li class="list-group-item">경북</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">강원</li></a>
  <a href="#"><li class="list-group-item">경남</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">세종</li></a>
  <a href="#"><li class="list-group-item">광주</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">대전</li></a>
  <a href="#"><li class="list-group-item">전북</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">충북</li></a>
  <a href="#"><li class="list-group-item">전남</li></a>
</ul>
<ul class="list-group list-group-horizontal">
  <a href="#"><li class="list-group-item">충남</li></a>
  <a href="#"><li class="list-group-item">제주</li></a>
</ul>
</div>
<div class="table-responsive">
  <table class="table table-hover" style="text-align: center">
    <thead>
    <tr class="text-center">
      <th>No</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>작성시간</th>
      <th>조회수</th>
      <th>추천수</th>
    </tr>
    </thead>
    <tbody class="table-content" th:each="board : ${boardList}">
    <tr class="text-center">
      <td th:text="${board.idx}"></td>
      <td class="text-start ps-5">
        <div class="d-flex align-content-center flex-wrap"
             style="height: 30px; font-size: 20px;" th:with="idx=${board.idx}">
          <a class="board-title" th:text="${board.title}"
             style="text-decoration: none; color: black"
             th:href=@{/board/details/boardView(idx=${board.idx})}></a>&nbsp;
        </div>
      </td>
      <td style="font-size: 17px" th:with="userId = ${board.userId}">
        <span th:text="${board.userId}"></span>
      </td>
      <td style="font-size: 17px"
          th:text="${board.time}"
      ></td>
      <td style="font-size: 17px;" th:text="${board.view}"></td>
      <td style="font-size: 17px;" th:text="${board.recommend}"></td>
    </tr>
    </tbody>

  </table>
</div>
<br>
<div class="pagination">
  <ul>
    <li th:each="page : ${#numbers.sequence(0, totalPage - 1)}">
        <a th:href="@{/board/list(page=${pageStat.index})}" th:text="${pageStat.index + 1}"></a>
    </li>
  </ul>
</div>
</div>
  <button class="btn btn-primary w-35 my-2 write-btn" style="float:right" onclick="location.href='/board/write'"> 후기 작성 </button>
<div th:replace="fragments/footer.html :: fragment-footer"></div>

</body>
</html>
