<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/find.css" />
    <script src="/find.js" type="text/javascript"></script>
</head>
<style type="text/css">
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    div, input, button{
        font-family: 'yg-jalnan';
    }
</style>

<body>
    <div class="container">
        <div>
            <h1 id="logo">여긴어때?</h1>
        </div>
        <div>
            <h2 id="page-title">아이디 찾기</h2>
        </div>

        <form method="post" th:action="@{/find/findIdByTel}">
            <div>전화번호로 찾기</div>
            <input type="text" id="tel_find_id" th:name="tel" placeholder="ex) 010-1234-4567">
            <button type="submit" id="tel_find_id_btn">찾기</button>
            <br>
        </form>

        <form method="post" th:action="@{/find/findIdByEmail}">
            <div>이메일로 찾기</div>
            <input type="text" id="email_find_id" th:name="email" placeholder="ex) guest123@guest.com">
            <button type="submit" id="email_find_id_btn">찾기</button>
            <br>
        </form>

        <input type="button" id="to_main" value="취소">
    </div>
</body>
</html>