<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage.css}" />
    <script th:src="@{/js/user/mypage.js}" type="text/javascript"></script>
    <title>여긴어때</title>
</head>
<body>
<!-- 페이지 헤더 -->
<div th:replace="fragments/header.html :: fragment-header"></div>

<div class="mypage container">
    <div class="mypageTop"> <span> 내 정보 </span> </div>
    <div>  <hr> </div>
    <div class="mypageMd">
        <div class="mypageMenu">
            <ul>
                <li id="btMyInfo">내 정보 변경 </li>
                <li id="btMyBoard"> 내 게시물 </li>
                <li id="btUserDelete"> 회원 탈퇴 </li>
            </ul>
        </div>
        <div> </div>
        <div class="mypageData">
            <!-- 유저 영역 -->
            <div class="userInfo">
                <form method="post" th:action="@{/user/mypage/update}">
                    <div class="userInfoSub">
                        <div>
                            <label>아이디</label> <span id="userId" th:text="${userInfo.id}"> </span>
                        </div>
                        <div>
                            <label>비밀번호</label> <input type="password" th:name="password" id="userPassword" placeholder="변경할 비밀번호를 입력해주세요." />
                        </div>
                        <div>
                            <label>비밀번호 재입력</label> <input type="password" id="userPasswordCheck" placeholder="변경할 비밀번호를 재입력해주세요." />
                        </div>
                        <div>
                            <label>전화번호</label> <span id="userTel" th:text="${userInfo.tel}"> </span>
                        </div>
                        <div>
                            <label>이메일</label> <span id="userEmail"  th:text="${userInfo.email}"> </span>
                        </div>
                    </div>

                    <input type="submit" id="btUpdateUser" value="수정">
                </form>
            </div>
            <div class="userBoard"  style="display:none;"> 유저 게시물 페이지</div>
            <div class="userDelete"  style="display:none;">

                <div> 회원탈퇴를 하시겠습니까? </div>
                <div> <a th:href="@{/user/mypage/delete}"> 회원 탈퇴 </a> </div>

            </div>

        </div>
    </div>
</div>

<!-- 페이지 푸터 -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>