<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/board/board.css}" />
    <script th:src="@{/js/user/mypage.js}" type="text/javascript"></script>
    <title>여긴어때</title>
</head>
<body>
<!-- 페이지 헤더 -->
<div th:replace="fragments/header.html :: fragment-header"></div>

<div class="mypage container">
    <div class="mypageTop"> <span> 내 정보 </span> </div>
    <div>  <hr> </div>
    <div class="mypageMd">
        <div class="mypageMenu">
            <ul>
                <li id="btMyInfo">내 정보 변경 </li>
                <li id="btMyBoard"> 내 게시물 </li>
                <li id="btUserDelete" onclick="javascript:deleteUser()"> 회원 탈퇴 </li>
            </ul>
        </div>
        <div> </div>
        <div class="mypageData">
            <!-- 유저 영역 -->
            <div class="userInfo">
                <form method="post" th:action="@{/user/mypage/update}">
                    <div class="userInfoSub">
                        <div>
                            <label>아이디</label> <span id="userId" th:text="${userInfo.id}"> </span>
                        </div>
                        <div>
                            <label>비밀번호</label> <input type="password" th:name="password" id="userPassword" placeholder="변경할 비밀번호를 입력해주세요." />
                        </div>
                        <div>
                            <label>비밀번호 재입력</label> <input type="password" id="userPasswordCheck" placeholder="변경할 비밀번호를 재입력해주세요." />
                        </div>
                        <div>
                            <label>전화번호</label> <span id="userTel" th:text="${userInfo.tel}"> </span>
                        </div>
                        <div>
                            <label>이메일</label> <span id="userEmail"  th:text="${userInfo.email}"> </span>
                        </div>
                    </div>

                    <input type="submit" id="btUpdateUser" value="수정">
                </form>
            </div>

            <!-- 유저 게시물 영역 -->
            <div class="userBoard"  style="display:none;">
                <div class="table-responsive" style="padding-left: 20px">
                    <table class="table table-hover" style="text-align: center">
                        <thead>
                        <tr class="text-center">
                            <th>No</th>
                            <th>지역</th>
                            <th>제목</th>
                            <th>작성시간</th>
                            <th>조회수</th>
                            <th>추천수</th>
                            <th>관리</th>
                        </tr>
                        </thead>

                        <tbody class="table-content" th:each="board : ${boardList}">
                        <tr class="text-center">
                            <td th:text="${board.idx}"></td>
                            <td th:text="${board.category}" style="margin-left: 100px"></td>
                            <td class="text-start">
                                <div class="d-flex align-content-center flex-wrap"
                                     style="height: 30px; font-size: 20px; padding-left: 100px" th:with="idx=${board.idx}">
                                    <a class="board-title" th:text="${board.title}"
                                       th:href=@{/board/details/boardView(idx=${board.idx})}></a>&nbsp;
                                </div>
                            </td>
                            <td style="font-size: 17px" th:text="${board.time}"></td>
                            <td style="font-size: 17px;" th:text="${board.view}"></td>
                            <td style="font-size: 17px;" th:text="${board.recommend}"></td>
                             <td> <input type="button" th:onclick="javascript:deleteBoard([[${board.idx}]],[[${board.userId}]])" value="삭제"/> </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <button class="btn btn-primary w-35 my-2 write-btn" style="float:right" onclick="location.href='/board/write'"> 후기 작성 </button>
                <br>

                <div class="pagination">
                    <ul>
                        <li th:if="${nowPage != 1}">
                            <a class="btn" th:href="@{/user/mypage/}+'?page='+${nowPage-1}"><</a>
                        </li>
                        <li th:each="page:${#numbers.sequence(startPage, endPage)}">
                            <a class="btn" th:if="${page != nowPage}" th:href="@{/user/mypage/}+'?page='+${page}" th:text="${page}"></a>
                            <strong class="btn" th:if="${page == nowPage}" th:text="${page}"></strong>
                        </li>
                        <li th:if="${nowPage < totalPage}">
                            <a class="btn" th:href="@{/user/mypage/}+'?page='+${nowPage+1}">></a>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- 유저 게시물 영역  끝-->


        </div>
    </div>
</div>

<!-- 페이지 푸터 -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>