<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/signup.css}" />
    <script type="text/javascript" th:src="@{/js/user/signup.js}"></script>

</head>

<body>
    <div class="container" style="text-align: center; padding-top:10%;">
        <div class="signup_page">
            <div class="signup_title"> <a th:href="@{/}"> 여긴어때? </a> </div>


            <form id="signup_form" action="">
                <!-- 모달 회원가입 입력 부분 -->
                <input type="text" id="id_box" placeholder="아이디"> <input type="button" id="bt_id_check" value="중복검사" />

                <input type="text" id="pw_box" placeholder="비밀번호">
                <input type="text" id="pwc_box" placeholder="비밀번호 재입력">

                <input type="text" id="email_box" placeholder="이메일">
                <input type="text" id="tel_box" placeholder="전화번호">

                <input type="submit" id="bt_signup" value="가입하기" />

            </form>
        </div>
    </div>
</body>

</html>