<!DOCTYPE html>
<html lang="ko">
<footer th:fragment="fragment-footer" class="footer" style="text-align: center; margin-top: 15%">
  <footer>
    <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
        <h3 style="font-family: Jalnan"><a href="/">여긴어때?</a></h3>
        <p class="company-name" style="font-family: Pretendard">여긴어때? © 2015 </p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
        <div><span class="new-line-span" style="font-family: Pretendard"><span class="fa fa-map-marker footer-contacts-icon"> </span>경기도 안산시 상록구 사3동 <br />한양대학로 55 제5공학관 SW창업실 5호</span>
          <p></p>
        </div>
        <div><i class="fa fa-phone footer-contacts-icon"></i>
          <p class="footer-center-info email text-start"> Tel. 010-5360-5938</p>
        </div>
        <div><i class="fa fa-envelope footer-contacts-icon"></i>
          <p><a href="#" target="_blank"><br />hello@entbe.com<br /><br /></a></p>
        </div>
      </div>
      <div class="col-md-4 footer-about" style="text-align: center; ">
        <h4>2게 왜 돼지? </h4>
        <p> 이근식, 정양헌, 오광민, 김정규, 박병권</p>
        <div class="social-links social-icons"><a href="https://github.com/GIT-SIK/Travel_Review_WebProject" target="_blank"><i class="fa fa-github"></i></a></div>
      </div>
    </div>
  </footer>
  <!-- Channel Plugin Scripts -->
  <script>
      (function() {
      var w = window;
      if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
      var ch = function() {
      ch.c(arguments);
    };
      ch.q = [];
      ch.c = function(args) {
      ch.q.push(args);
    };
      w.ChannelIO = ch;
      function l() {
      if (w.ChannelIOInitialized) {
      return;
    }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
      if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
    })();
      ChannelIO('boot', {
      "pluginKey": "81acf5c6-0e6a-4c2f-a72f-62a07ba5c615"
    });
  </script>
  <!-- End Channel Plugin -->
</footer>
</html>
