<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thyeleaf-extras-springsecurity5">>
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>


<div th:fragment="fragment-header">
        <div id="nav">
            <header sec:authorize="isAnonymous()">
                <nav class="custom-header">
                    <a class="logo" href="/">여긴어때?</a>

                    <span class="menu">
                        <a th:href="@{/user/login}"> 로그인</a>
                        <a href="#"> 축제정보</a>
                        <a href="/board/list"> 여행후기 </a>
                   </span>
                </nav>
            </header>
            <header sec:authorize="isAuthenticated()">
                <nav class="custom-header">
                    <span class="logo">여긴어때?</span>

                    <span class="menu">
                    <a th:href="@{/logout}"> 로그아웃</a>
                    <a href="#"> 축제정보</a>
                    <a href="/board/list"> 여행후기 </a>
                     <!--    <div class="dropdown-login">
                              <a class="dropbtn">drop down</a>
                              <div class="dropdown-content">
                                <li href="#">link 1</li>
                                <li href="#">link 2</li>
                                <li href="#">link 3</li>
                          drop down
                              </div>
                        </div>
                    -->
                    </span>
                </nav>
            </header>
        </div>
</div>

  <style>
    body{
      padding-top: 100px;
    }
  </style>
  

    <script type="text/javascript">

        // $('.dropdown-login').on('click', function(){
        //     if($('.dropdown-content').css("display") == "none"){
        //         $('.dropdown-content').css("display", "block");
        //     } else {
        //         $('.dropdown-content').hide();
        //     }
        // });

        window.onscroll = function() {
          scrollFunction()
        };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document
          document.getElementById("nav").style.top = "0";
        } else {
          document.getElementById("nav").style.top = "0";
        }
      }

</script>
</div>
</html>