<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thyeleaf-extras-springsecurity5">>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <meta charset="UTF-8">
    <title>Header</title>
</head>


<div th:fragment="fragment-header">
        <div id="nav">
            <header sec:authorize="isAnonymous()">
                <nav class="custom-header">
                    <a class="logo" href="/">여긴어때?</a>

                    <span class="menu">
                        <a th:href="@{/user/login}"> 로그인</a>
                        <a href="#"> 축제정보</a>
                        <a href="/board/list"> 여행후기 </a>
                   </span>
                </nav>
            </header>
            <header sec:authorize="isAuthenticated()">
                <nav class="custom-header">
                    <a class="logo" href="/">여긴어때?</a>

                    <span class="menu">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        마이페이지
                    </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">내정보1</a>
                            <a class="dropdown-item" href="#">내정보2</a>
                            <a class="dropdown-item" href="#">내정보3</a>
                            <a class="dropdown-item" th:href="@{/logout}">로그아웃</a>
                        </div>
                    <a class="menubtn" href="/festival/list"> 축제정보</a>
                    <a class="menubtn" href="/board/list"> 여행후기 </a>
                    </span>
                </nav>
            </header>
        </div>
</div>

  <style>
    body{
      padding-top: 100px;
    }
  </style>
  

    <script type="text/javascript">

        // $('.dropdown-login').on('click', function(){
        //     if($('.dropdown-content').css("display") == "none"){
        //         $('.dropdown-content').css("display", "block");
        //     } else {
        //         $('.dropdown-content').hide();
        //     }
        // });

        window.onscroll = function() {
          scrollFunction()
        };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document
          document.getElementById("nav").style.top = "0";
        } else {
          document.getElementById("nav").style.top = "0";
        }
      }

</script>
</div>
</html>