.custom-header {
  background: #F63543;
  height: 70px;
}

.logo {
  color: white;
  font-family: 'Jalnan';
  font-size: 20pt;
  font-weight: bold;
  position: relative;
  top: 14px;
  margin-left: 100px;
}

.menu > a {
  color: white;
  font-family: 'Jalnan';
  font-size: 14pt;
  float: right;
  margin: 20px 80px 0px 10px;
  text-decoration: none;
}

