#nav {
  position: fixed; /* Make it stick/fixed */
  top: 0px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  width: 100%;
  z-index: 10;
  background: #F63543;
  height: 70px;
}
body{
  padding-top:130px;
}

.logo {
  color: white;
  font-family: 'Jalnan';
  font-size: 20pt;
  font-weight: bold;
  position: relative;
  top: 14px;
  margin-left: 100px;
  text-decoration: none;
}
.logo:hover{
  color: white;
}

/* Style the navbar links */

.menu > a{
  font-family: 'Jalnan';
  color: white;
  font-size: 14pt;
  float: right;
  margin: 20px 40px 0px 10px;
  text-decoration: none;
  display: block;
}
.menu > a:hover {
  border-bottom: 2px solid white;
  color: white;
}
.dropdown-menu{
  font-family: 'Jalnan';
  text-align: center;
}

/*.dropdown-login{*/
/*  position : relative;*/
/*  display : inline-block;*/
/*}*/

/*.dropdown-content{*/
/*  display : none;*/
/*  position : absolute;*/
/*  transform: translateY(80px);*/
/*  width : 120px;*/
/*  border : 1px solid lightgray;*/
/*  padding : 5px;*/
/*  text-align: center;*/
/*  border-radius: 8%;*/
/*  background: white;*/
/*  z-index : 1; !*다른 요소들보다 앞에 배치*!*/
/*}*/

/*.dropdown-content li{*/
/*  padding : 5px 0 5px 0;*/
/*  font-size: 20px;*/
/*  display : block;*/
/*}*/

/*.dropdown-login li:hover {*/
/*  background: lightgrey;*/
/*}*/