<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여긴어때</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
</head>
<body>
<!-- 페이지 헤더 -->
<div th:replace="fragments/header.html :: fragment-header"></div>

<!-- 페이지 원본 -->
<div class="main">
    <!-- 베스트 후기 영역 -->
    <div>


    </div>
    <!-- 슬라이드 영역 -->
    <div>


    </div>
    <!-- 지도 및 축제 영역 -->
    <div class="festivalMonth container">
        <!-- 지도 영역 -->
        <div class="location">
            <img th:src="@{/images/index/jido.png}">

            <img id="busan" th:src="@{/images/index/busan.png}" />
            <img id="chungbuk" th:src="@{/images/index/chungbuk.png}" />
            <img id="chungnam" th:src="@{/images/index/chungnam.png}" />
            <img id="daegu" th:src="@{/images/index/daegu.png}" />
            <img id="daejeon" th:src="@{/images/index/daejeon.png}" />
            <img id="gangwon" th:src="@{/images/index/gangwon.png}" />
            <img id="gb" th:src="@{/images/index/gb.png}" />
            <img id="gg" th:src="@{/images/index/gg.png}" />
            <img id="gyeongnam" th:src="@{/images/index/gyeongnam.png}" />
            <img id="incheon" th:src="@{/images/index/incheon.png}" />
            <img id="jeju" th:src="@{/images/index/jeju.png}" />
            <img id="jeonbuk" th:src="@{/images/index/jeonbuk.png}" />
            <img id="jeonnam" th:src="@{/images/index/jeonnam.png}" />
            <img id="seoul" th:src="@{/images/index/seoul.png}" />
            <img id="ulsan" th:src="@{/images/index/ulsan.png}" />
            <img id="gwangju" th:src="@{/images/index/gwangju.png}" />

            <span value="busan"> 부산 </span>
            <!--17-->
            <span value="chungbuk"> 충북 </span>
            <!--18-->
            <span value="chungnam"> 충남 </span>
            <!--19-->
            <span value="daegu"> 대구 </span>
            <!--20-->
            <span value="daejeon"> 대전 </span>
            <!--21-->
            <span value="gangwon"> 강원 </span>
            <!--22-->
            <span value="gb"> 경북 </span>
            <!--23-->
            <span value="gg"> 경기 </span>
            <!--24-->
            <span value="gyeongnam"> 경남 </span>
            <!--25-->
            <span value="incheon"> 인천 </span>
            <!--26-->
            <span value="jeju"> 제주 </span>
            <!--27-->
            <span value="jeonbuk"> 전북 </span>
            <!--28-->
            <span value="jeonnam"> 전남 </span>
            <!--29-->
            <span value="seoul"> 서울 </span>
            <!--30-->
            <span value="ulsan"> 울산 </span>
            <!--31-->
            <span value="gwangju"> 광주 </span>
            <!--32-->

        </div>
        <!-- 축제 출력 영역 -->
        <div class="festivalData">

        </div>
    </div>

</div>












<!-- 페이지 푸터 -->
<div th:replace="fragments/footer.html :: fragment-footer"></div>

</body>
</html>