.region > ul > a {
  text-decoration: none;
}

.region > ul > a:hover {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-family: Jalnan;
}

.board-title:hover {
  font-weight: bold;
  background: lightgray;
}

.pagination {
  text-align: center;
}

.pagination > ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.pagination > ul > li > a {
  color: black;
  text-decoration: none;
}

.pagination > ul > li > a :hover, .pagination > ul > li > a :focus{
  color: red;
  text-decoration: underline;
}