.region > ul > a {
  text-decoration: none;
}

.region > ul > a:hover {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-family: Jalnan;
}

.board-title:hover {
  font-weight: bold;
  background: lightgray;
}

.pagination > ul {
  text-align: center;
  margin: auto;
}

.pagination > ul > li {
  list-style-type: none;
  display: inline-block;
}

.pagination > ul > li > .btn{
  width: 16px;
  padding-right: 22px;
  -webkit-user-select: none;
}

.pagination > ul > li > a {
  text-decoration: none;
  color: black;
}

.pagination > ul > li > strong {
  font-weight: bold;
  border: solid #6c757d 2px;
}