.region > ul > a {
  text-decoration: none;
  font-size: 16pt;
  font-family: 'Jalnan';
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1.5rem 1rem;
  border: 1px solid lavenderblush;
}

.btn-primary{
  background: #F63543;
  border: #F63543;
}

.region > ul > a:hover {
  font-size: 16.5pt;
  box-shadow: 5px 5px 5px gray;
}

.title {
  font-weight: bold;
  font-family: Jalnan;
}

.board-title {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: bold;
  font-family: Pretendard;
}

.board-title:hover {
  font-family: Jalnan;
}

.pagination > ul {
  text-align: center;
  margin: auto;
}

.pagination > ul > li {
  list-style-type: none;
  display: inline-block;
}

.pagination > ul > li > .btn {
  width: 16px;
  padding-right: 22px;
  -webkit-user-select: none;
}

.pagination > ul > li > a {
  text-decoration: none;
  color: black;
}

.pagination > ul > li > strong {
  font-weight: bold;
  border: solid #6c757d 2px;
}