<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여긴어때</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/find/find-pw.css}"/>
</head>

<body>
<div class="contatiner box">
    <div class="logo">
        <a th:href="@{/}">여긴어때?</a>
    </div>
    <div class="title">
        <span id="page-title">비밀번호 찾기</span>
    </div>
    <div>
        <div>
            <ul class="select-menu">
                <li> <span> 이메일로 찾기 </span> </li>
                <li> <span> 전화번호로 찾기 </span> </li>
            </ul>
        </div>

    </div>
    <form id="find-tel" method="post" th:action="@{/find/findPwByTel}" style="display:block;">
        <div>회원정보에 등록한 전화번호로 찾기</div>
        <input type="text" id="tel_id" th:name="id" placeholder="ID를 입력해주세요"> <br>
        <input type="text" id="tel" th:name="tel" placeholder="ex) 010-1234-4567">
        <input type="button" class="auth_btn" id="tel_auth_req_btn" value="인증번호 받기"> <br>
        <input type="text" id="tel_code" th:name="code" placeholder="인증번호를 입력해주세요"> <div id="tel_timer"></div>
        <button type="submit" id="tel_auth_btn"> 확인 </button><br>
        <br>
    </form>

    <form id="find-email" method="post" th:action="@{/find/findPwByEmail}" style="display:none;">
        <div>회원정보에 등록한 이메일로 찾기</div>
        <input type="text" id="email_id" th:name="id" placeholder="ID를 입력해주세요"> <br>
        <input type="text" id="email" th:name="email" placeholder="ex) guest123@guest.com">
        <input type="button" class="auth_btn" id="email_auth_req_btn" value="인증번호 받기"> <br>
        <input type="text" id="email_code" th:name="code" placeholder="인증번호를 입력해주세요"> <div id="email_timer"></div>
        <button type="submit" id="email_auth_btn"> 확인 </button><br>
        <br>
    </form>

    <button type="button" id="to_main" onclick="location.href='/login'">취소</button>
</div>
<script th:src="@{/js/find/find-pw.js}"></script>
</body>
</html>