<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여긴어때</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/find/find-pw-result.css}"/>
</head>

<body>
<div class="container box">
    <div class="logo">
        <a th:href="@{/}">여긴어때?</a>
    </div>
    <div class="title">
        <span id="page-title">비밀번호 찾기</span>
    </div>
    <div>
        <h2 th:text="${message}">123</h2>
        <!--    로그인 페이지로 이동    -->
        <button type="button" id="to_main" onclick="location.href='/login'">확인</button>
    </div>
</div>
</body>
</html>